<% @posts.each do |post| %>
	<%= link_to post do %>
		<div class="row padding-top-15">
		            <div class="col-md-3"><span class="badge"></span>
		                    <img class="img-responsive" src="http://placehold.it/350x250" alt="">


		            </div>
		            <div class="col-md-9">
		                <h3 class="pull-right"><%= post.price %> DH</h3>
		                <h3><%= post.title %></h3>
		                <h4><%= post.city %></h4>
		            </div>
		</div>
  <% end %>
<% end %>
