 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fbfbfb;}

    .navbar-brand span{
        color:#f44336;
    }
.navbar-default {
    background-color: #ffffff;
    border-bottom: 3px solid #F44336;
}
.btn-custom, .btn-custom:hover, .btn-custom:focus, .btn-custom.focus {

    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    font-weight: 600;
}
 .bord {
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 0px 1px 1px 1px;
    background-color: white;
 }
.padding-top-15{
    border-top: 1px solid #cccccc;
    padding: 8px 0;}
.badge {
    position: absolute;
    margin-left: 125px;
       }
.width{width: 100%;}
.carousel {
    margin: 0 auto;
    position: relative;
    max-width: 700px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    line-height: 1;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.create {
    padding: 15px;
    margin-top: 32px;
    border-radius: 0;
    color: #FFF;
    font-size: x-large;
}
a:hover, a:focus {
    text-decoration: none;
}

.carousel-indicators .active {
    margin: 0;
    width: 80px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}
.carousel-indicators li {
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    opacity: 0.8;
}

.carousel-indicators {
    left: 30%;
    width: 100%;
    border: 2px solid #5a5a5a;
    border-radius: 4px;
    padding-top: 5px;
}
.Cindicators{ 
   padding-top: 120px;
}
.imgethumb{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
}
.imgethumbwarp{
    width: 170px;
    height: 90px;
}
.icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 39%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}
@media screen and (max-width: 480px) {
   .Cindicators{ 
   display: none;
  }
  .sidebar{
        display: none;
  }
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
    cursor: default;
}
.sheader{
    background-color: rgb(244, 67, 54);
    color: white;
    text-align: center;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.searchbars {
    background-color: #ff8981;
    text-align: center;
    margin-bottom: 30px;

}