/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 .bord {
        border-style: solid;
    border-color: #cfcfcf;
    border-width: 0px 1px 1px 1px;
 }
.padding-top-15{
border-top: 1px solid #cccccc;
    padding: 8px 0;}
.badge {
    position: absolute;
    margin-left: 125px;
       }
.width{width: 100%;}
.carousel {
    margin: 0 auto;
    position: relative;
    max-width: 700px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    line-height: 1;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.create {
    padding: 15px;
    margin-top: 32px;
    border-radius: 0;
    color: #FFF;
    font-size: x-large;
}
a:hover, a:focus {
    text-decoration: none;
}

.carousel-indicators .active {
    margin: 0;
    width: 80px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}
.carousel-indicators li {
    display: inline-block;
    width: 70px;
    height: 60px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    opacity: 0.8;
}

.carousel-indicators {
    left: 30%;
    width: 100%;
    border: 2px solid #5a5a5a;
    border-radius: 4px;
    padding-top: 5px;
}
.Cindicators{ 
   padding-top: 120px;
}
.imgethumb{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    text-align: center;
}
.imgethumbwarp{
    width: 170px;
    height: 90px;
}
.icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 39%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}
@media screen and (max-width: 480px) {
   .Cindicators{ 
   display: none;
  }
}
