 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fbfbfb;}

    .navbar-brand span{
        color:#f44336;
    }
/*  --------- navbar -------- */
.navbar-default {
    background-color: #f8f8f8;
    border-bottom: 2px solid #F44336;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000;
}
.navbar-brand span{
        color:#f44336;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
/*  --------- END navbar -------- */

/*  --------- second - navbar -------- */
.sheader{

    background-color: rgb(244, 67, 54);
    color: white;
    text-align: center;
}
.searchbars {
    background-color: #ff8981;
    text-align: center;
    margin-bottom: 30px;
}
/*  --------- END second - navbar -------- */


/*  --------- bord -------- */ 
 .bord {
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 0px 1px 1px 1px;
    background-color: white;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
 .card-border{
    border-top: 1px solid #cccccc;
    padding: 8px 0;
}
.imgethumbwarp {  
    width: 135px;
    height: 90px;
    position: relative;
    padding: 2px;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 15px;
}
.imgethumb{

    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1px;
}
/*  --------- END bord -------- */

/*  --------- sidebar -------- */ 
.side-img {
    margin-left: 20%;
} 

.sidebar-nav{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*  --------- END sidebar -------- */

/*  --------- post -------- */ 

.badge {
    position: absolute;
    background-color: #f44336;
       }
.bd{width: 27px;
    position: absolute;
    top: -8px;
    right: -10px;
    text-align: center;
    float: left;
    z-index: 1;
}
.post-info{
    color: #333;
    padding: 10px 15px 0 25px;
}
.price {
    left: 56px;
    position: relative;
    margin-top: 20px;
}
/*  --------- END post -------- */

/*  --------- show page  -------- */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
    margin: auto;
}
.slide {
    width: 100%;
    margin: 0 auto;
}
.carousel-indicators .active {
    margin: 0;
    width: 80px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}
.carousel-indicators li {
    display: inline-block;
    width: 80px;
    height: 70px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    opacity: 0.8;
}

.carousel-indicators {
    left: 30%;
    width: 100%;
    border: 2px solid #5a5a5a;
    padding-top: 5px;
}
.Cindicators{ 
   padding-top: 120px;
}
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 120px;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: transparent;
}
   .carousel-inner{ 
    height: 450px;
    display: flex;
}
.item{
    display: block;
    margin: auto;
}
/*  --------- END show page -------- */

/*  --------- pagination -------- */ 
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #000000;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    transition-duration: 0.3s;
}
.pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
    cursor: default;
}
/*  --------- END pagination -------- */



/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .carousel-inner {
        height: 100%;
        display: flex;
    }
   .Cindicators {
    display: none;
   } 
   .sheader {
    display: none;
   }
   .carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    }
    
    .navbar-nav {
    margin: 7.5px -15px;
    text-align: center;
    }
    .navbar-default .navbar-nav > li > a {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    }
}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) {  }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {  }*/